body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding: 0;
    width: 100%;
    height: 100vh;

}
#gameMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#gameOverDisplay{
    position: fixed; /* 요소를 고정 위치로 설정합니다. */
    top: 5%; /* 화면의 수직 중앙에 위치하도록 합니다. */
    left: 50%; /* 화면의 수평 중앙에 위치하도록 합니다. */
    transform: translate(-50%, -50%); /* 요소를 수평 및 수직으로 이동하여 정확한 중앙에 위치시킵니다. */
    z-index: 9999; /* 다른 요소들 위에 위치하도록 설정합니다. */
    background-color: rgba(255, 255, 255, 0.8); /* 배경색을 투명하게 설정합니다. */
    padding: 10px; /* 내부 여백을 추가합니다. */
    border-radius: 5px; /* 모서리를 둥글게 만듭니다. */
    font-size: 2em;

}

/* 기본 스타일 (데스크톱 및 노트북) */
.menuItem {
    background-color:  #FF6F61;
    padding: 12px;
    margin: 10px;
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10%;
}

.menuItem:hover {
    background-color: #df4f42;
}



#hold {
    width: 300px;
    height: 300px;
    background-color: red;
    position: absolute;
    cursor: pointer;
    transition: all 0.5s ease; /* 애니메이션 효과를 위한 transition 추가 */
}

#miniGame-Container, #miniGame-Container2 {
    display: none; /* 초기 상태: 숨김 */
   
    
}

.score-popup{
    position: absolute;
    color: yellow ;
    font-weight: bold;
}

#gameWindow{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 뷰포트 높이의 100%를 사용하여 전체 화면에 가운데 정렬 */
    width: 100vw; /* 뷰포트 너비의 100%를 사용 */

}

#gameControls {
    text-align: center; /* 버튼을 중앙에 배치 */
    margin-top: 20px; /* 게임 화면과의 여백 */
}

#gameControls button {
    margin: 0 10px; /* 버튼 사이의 여백 */
    padding: 10px 20px; /* 버튼 안쪽 여백 */
}
/* 
/* 
/* 소형 디바이스 (스마트폰) */
@media (max-width: 480px) {
    .menuItem {
        padding: 10px;
        margin: 5px;
        font-size: 14px;
    }

    /* #miniGame-Container {
        width: 100%;
        height: auto;} /* 모바일에서는 높이 조절 */
    
    body{
        width: 100%;
        height: 100vh;
    }
}